*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: black;
    height: 41rem;
    /* width: 85rem; */
}
header h1{
    position: absolute;
    font-size: 2rem;
    top: 3rem;
    left: 34rem;
    color: #fff;
}
header h1 span{
    color: #f4a560de;
}
header .box1{
    border: 1px solid gray;
    height: 31rem;
    width: 23rem;
    position: relative;
    top: 7rem;
    left: 7rem;
}
header .icon{
    position: absolute;
    top: 2rem;
    left: 6.2rem;
    display: flex;
    gap: 1rem;
}
header .icon :hover{
     background-color: #f4a560de;
}
header .icon .shop i{
    border: 2px solid #808080;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}
header .product{
    height: 16rem;
    width: 10.6rem;
    position: relative;
    top: 6rem;
    left: 6.2rem;
}
header .star{
text-align: center;
}
header .star i{   
    margin-top: 9.5rem;
    color: #f4a560de;
}
header .box2{
    border: 1px solid gray;
    height: 31rem;
    width: 23rem;
    position: relative;
    top: -24.1rem;
    left: 31rem;
}
header .box3{
    border: 1px solid gray;
    height: 31rem;
    width: 23rem;
    position: relative;
    top: -55.3rem;
    left: 55rem;
}
header p{
    position: absolute;
    top: 23.6rem;
    left: 6.8rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}
header .price{
    position: absolute;
    top: 26.8rem;
    left: 7.8rem;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
header .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
}

/* REVIEW START */

section{
    background-color: black;
    height: 41rem;
}
section h1{
    position: relative;
    font-size: 2rem;
    top: -0.5rem;
    left: 33.3rem;
    color: #f4a560de;
}
section h1 span{
    color: #fff;
}
section .box4{
    border: 1px solid #808080;
    height: 26.5rem;
    width: 23.4rem;
    position: relative;
    top: 2rem;
    left: 7rem;
}
section .box5{
    border: 1px solid #808080;
    height: 26.5rem;
    width: 23.4rem;
    position: relative;
    top: -24.6rem;
    left: 31.5rem;
}
section .box6{
    border: 1px solid #808080;
    height: 26.5rem;
    width: 23.4rem;
    position: relative;
    top: -51.2rem;
    left: 56rem;
}
section .quote{
    position: absolute;
    left: 10rem;
    top: 2rem;
}
section .paragraph{
    color: #fff;
    line-height: 1.5rem;
    margin: 6rem 1rem;          
    text-align: center;
}
section .pic{
    position: absolute;
    top: 16.5rem;
    left: 10rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
section h5{
    position: absolute;
    top: 21.2rem;
    left: 8.8rem;
    color: #fff;
    font-size: 1.4rem;
}
.lastborder{
    margin-top: 2rem;
    color: #fff ;
}
section h1 .contect{
    position: relative;
    font-size: 2rem;
    top: -7.5rem;
    left: 33.3rem;
    color: #f4a560de;
}
section .star{
    text-align: center;
}
section .star i{   
    margin-top: 3rem;
    color: #f4a560de;
}
/* REVIEW END */

/* CONTECT START */

section .contact{
    background-color: black;
    height: 41rem;
}
section .contact h1{
    position: relative;
    font-size: 2rem;
    top: -8.5rem;
    left: 36.3rem;
    color: #f4a560de;
}
section .contact h1 span{
    color: #fff;
}
section iframe{
    height: 28rem;
    width: 36.2rem;
    position: absolute;
    left: 6.8rem;
    top: 78rem;
}
section .form{
    background-color: #2f2e2ea8;
    height: 28.2rem;
    width: 36.2rem;
    position: absolute;
    left: 43.3rem;
    top: 78rem;
}
section .form span{
    position: relative;
    left: 11rem;
    top: 3rem;
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
}
section .contacts{
    position: relative;
    left: 45rem;
    top: -1rem;
    line-height: 5.5rem;
}
section input{
    border: 2pt solid #80808069;
    background-color: #07060603;
    height: 4rem;
    width: 32.6rem;
}
button{
    border: 2pt solid #f4a560de;
    background-color: #f4a560de;
    color: #fff;
    margin: 0 12rem;
    height: 2.5rem;
    width: 10.5rem;
}
section .btn :hover{
    color: black;
    height: 3rem;
    width: 11rem;
}
/* CONTACTS END */


/* BLOGS START */
footer{
        background-color: black;
        height: 21rem;
        text-align: center;
}
footer h1{
    position: relative;
    top: -15.2rem;
    color:#f4a560de;
    /* left: 37rem; */
}
footer .contact h1 span{
    color: #fff;
}
footer .box7{
    color: #fff;
    border: 2px solid #808080;
    height: 30rem;
    width: 23.3rem;
    position: absolute;
    top: 112rem;
    left: 6.9rem;
}
 footer .content{
    text-align: left;
    margin: 1rem;
    line-height: 2.1rem;
 }
 footer .content .h{
    font-size: 1.5rem;
    font-family: unset;
 }
 footer .btn{
    height: 2.3rem;
    width: 9.3rem;
    margin-top: 1rem;
    text-align: center;
    background-color: #f4a560de;
 }
 .content .btn a{
    line-height: 1.5rem;
    text-decoration: none;
 }
footer .content span{
    font-size: 1.1rem;
 }
footer .box8{
    color: #fff;
    border: 2px solid #808080;
    height: 30rem;
    width: 23.3rem;
    position: absolute;
    top: 112rem;
    left: 31.4rem;
}
footer .box9{
    color: #fff;
    border: 2px solid #808080;
    height: 30rem;
    width: 23.3rem;
    position: absolute;
    top: 112rem;
    left: 56rem;
}

/* LAST PAGE */

.address{
    background-color: #4d4c4cf0;
    height: 13rem;
    text-align: center;
}
.social{
    padding:1rem;
}
.address .social i{
    margin-left: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    background-color: #f4a560de;
    font-size: 1.5rem;
    border-radius: 50%;
}
.address .social :hover{
    transform: rotate3d(1, 1, 1, 45deg);
}
.address .last{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
}
.address .last .Home{
    padding: 0.3rem;
    text-decoration: none;
    border: 2px solid #80808069; 
}   
.credit{
    line-height: 6rem;
}
.address span{
    color: #f4a560de;
}